@use "global" as *;

.about-text {
  width: 100%;

  @include mq("md") {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: right;
  }
}

.about-text__title {
  padding-top: rem(40);
  text-align: left;
  font-family: $en-font-family;
  font-size: rem(40);
  font-weight: $regular;
  color: $green-accent;
  letter-spacing: 1;
  line-height: rem(calc(40/40));

  @include mq("md") {
    width: fit-content;
    padding-top: 0;
    color: $white;
    font-size: rem(80);
    line-height: rem(calc(100/80));
  }
}

.about-text__text {
  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}