@use "global" as *;

.about{
  display: block;
  overflow: hidden;
  // position: relative;
}

.about__inner{
  max-width: rem(600);
}

.about__items{
  // padding-top: rem(26);
  // @include mq("md"){
  //   padding-top: rem(31);
  // }
}
