@use "global" as *;

.about-text {
  width: 100%;

  @include mq("md") {
    // z-index: 1;
    display: flex;
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: calc(1080/1440)*100%;
    height: rem(661);
    justify-content: right;
    align-items: center;
  }
}

.about-text__title {
  padding-top: rem(40);
  font-family: $en-font-family;
  font-size: rem(40);
  font-weight: $regular;
  color: $green-accent;
  line-height: (calc(40/40));

  @include mq("md") {
    width: fit-content;
    padding-top: 0;
    color: $white;
    font-size: rem(80);
    line-height: (calc(100/80));
  }
}

.about-text__text {
  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}