@use "global" as *;

.about-item {
  width: 100%;

  @include mq("md") {
    // position: relative;
  }
}

.about-item__img {
  position: relative;
  padding-top: rem(80);
}

.about-item__img--02 img{
  object-fit: cover;
  aspect-ratio: calc(880/1440)/calc(581/1440);
  width: calc(880/1080)*100%;
  margin-left: auto;

}

.about-item__img--01  img{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(400/1080)*100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.about-item__text {
  @include mq("md") {
    // padding-top: rem(230);
  }
}

.about-item__fish {
  display: none;

  @include mq("md") {
    display: block;
    position: absolute;
    bottom: rem(50);
    left: min(81vw, 81%);
    width: rem(194);
    height: auto;
  }
}

.about-item__img--03 {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  // transform: translate(-50%, 50%);
}