@use "global" as *;


.arrow{
  
}

.arrow__prev {
  position: absolute;
  top: rem(-100);
  left: 48%;
  transform: translateX(-50%);
  width: rem(80);
  height: rem(80);
  object-fit: cover;
}

.arrow__next {
  position: absolute;
  top: rem(-100);
  left: 56%;
  transform: translateX(-50%);
  width: rem(80);
  height: rem(80);
}