@use "global" as *;


.arrow {}

.arrow__prev {
  @include mq("md") {
    position: absolute;
    top: rem(-100);
    left: 66vw;
    transform: translateX(-50%);
    width: rem(80);
    height: rem(80);
    object-fit: cover;
  }

}

.arrow__next {
  
  @include mq("md") {
    position: absolute;
    top: rem(-100);
    left: 76vw;
    transform: translateX(-50%);
    width: rem(80);
    height: rem(80);
  }
}