@use "global" as *;

.blog {
  // position: relative;
  display: block;
  // text-align: center;

  @include mq(md) {
    // background-image: url(../images/common/Rectangle03.jpg);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: top center;
    // width: 100%;
    // // height: calc(500/1440)*100%;
    // height: 50%;

    width: 100%;
    /*要素の幅指定*/
    // height: rem(831);
    /*要素の高さ指定*/
    background-color: white;
    /*背景色指定*/
    background-image: url(../images/common/Rectangle03.jpg);
    /*背景画像を指定*/
    background-repeat: no-repeat;
    /*背景画像の繰り返しを解除*/
    background-size: 100% rem(500);
    /*背景画像のサイズ指定*/
  }
}

.blog__title {
  position: relative;
}

.blog__img {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-76);
    left: max(-7%, -6vw);
    width: 34.180556%;
    max-width: rem(377);
  }
}

.blog__img img {
  width: 100%;
}

.blog__items {
  margin-top: rem(24);
  // text-align: left;

  @include mq("md") {
    margin-top: rem(79);
  }
}

.blog__button {
  margin-top: rem(30);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__inner {
  width: 100%;
}