@use "global" as *;

.section__campaign {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(10);
  }
}

.section__about {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.section__information {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.section__blog {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: 0;
  }
}

.section__voice {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.section__price {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}

.section__contact {
  padding-top: rem(80);
  padding-bottom: rem(40);

  @include mq("md") {
    padding-top: rem(140);
    padding-bottom: rem(140);
  }
}