@use "global" as *;

.section-campaign {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(120);
  }
}

.section__about {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(140);
    // padding-bottom: rem(140);
    padding-bottom: rem(140);
  }
}

.section__information {
  padding-top: rem(80);
  padding-bottom: rem(80);
  margin-top: rem(80);

  @include mq("md") {
    padding-top: rem(95);
    padding-bottom: rem(101);
    margin-top: rem(0);
  }
}

.section__blog {
  margin-top: rem(80);

  @include mq("md") {
    padding-top: rem(100);
    margin-top: rem(0);
  }
}

.section__voice {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.section__price {
  margin-top: rem(80);
  padding-top: rem(80);
  padding-bottom: rem(80);

  @include mq("md") {
    margin-top: rem(140);
    padding-top: rem(93);
    padding-bottom: rem(100);
  }
}

.section__contact {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(150);
  }
}