@use "global" as *;

.section__campaign {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(120);
  }
}

.section__about {
  margin-top: rem(160);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.section__information {
  margin-top: rem(160);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.section__blog {
  margin-top: rem(160);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.section__voice {
  margin-top: rem(160);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.section__price {
  margin-top: rem(160);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.section__contact {
  margin-top: rem(160);

  @include mq("md") {
    margin-top: rem(140);
  }
}