@use "global" as *;

.campaign {
  display: block;
  text-align: center;

  @include mq("md") {
    overflow: hidden;
  }
}

.campaign__items {
  padding-top: rem(30);

  @include mq("md") {
    padding-left: rem(1);
  }
}

.campaign__button {
  padding-top: rem(37);
  padding-right: rem(5);

  @include mq("md") {
    padding-top: rem(80);
  }
}