@use "global" as *;

.campaign {
  display: block;
  text-align: center;

  @include mq("md") {
    overflow: hidden;
  }
}

.campaign__items {
  padding-top: rem(24);
}

.campaign__button {
  padding-top: rem(40);

  @include mq("md") {
    padding-top: rem(80);
  }
}