@use "global" as *;

.campaign {
  display: block;

  @include mq("md") {
    overflow: hidden;
  }
}

.campaign__items {
  margin-top: rem(30);

  @include mq("md") {
    padding-left: rem(1);
  }
}

.campaign__title {
  position: relative;
}

.campaign__button {
  margin-top: rem(64);
  padding-right: rem(5);
  text-align: center;

  @include mq("md") {
    margin-top: rem(64);
  }
}