@use "global" as *;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $white;
}

.card--blog {
  background-color: $white;
}

// .card::before {
//   position:absolute;
//   top:0;
//   left:0;
//   display:block;
//   width:100%;
//   height:100%;
//   content:"";
//   box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.3);
// }

.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: 500ms;
}

.card__inner {
  padding: rem(16) rem(16) rem(24);
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include mq("md") {
    padding: rem(24) rem(16) rem(40);
  }
}

.card__inner--blog {
  padding: rem(16) rem(16) rem(24);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-weight: $normal;
  font-size: rem(16);
  line-height: calc(24/16);
  border-bottom: 1px solid $green-accent;
  /* 線のスタイルと色を指定 */
  padding-bottom: rem(3);
  /* タイトルと線の間隔を調整 */
}

.card__tag--campaign {
  display: block;
  width: fit-content;
  font-size: rem(12);
  color: $green-accent;
  border: 1px solid $green-accent;
  padding: rem(5) rem(10);

  @include mq("md") {
    padding: rem(6) rem(16);
    line-height: calc(22/12);
  }
}

.card__title--campaign {
  text-align: left;
  padding: rem(6) 0;
  font-size: rem(16);
  font-weight: $normal;
  border-bottom: 1px solid $green-accent;
}

.card__price {
  margin-top: rem(3);
}

.card__subtitle {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: calc(24/14);
  text-align: center;

  @include mq("md") {
    margin-top: rem(16);
  }
}

.card__text {
  margin-top: rem(16);
  font-size: rem(16);
  line-height: calc(24/16);
}

.card__date {
  font-size: rem(12);
  line-height: calc(18/12);
  font-family: $en-font-family;
}

.card__body {
  padding-top: rem(17);
}

.card__img {
  padding-top: 66.777%; //201/301*100%
  position: relative;
}

.card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}