@use "global" as *;

.column {
  box-sizing: border-box; /* ボーダーボックスモデルを使用 */
  display: flex;
  padding-left:rem(10);
}

/* ブロックの修飾子のスタイル */
.column__left {
  width: 50%; /* カラムの幅を設定 */
  padding-left: rem(10);
  @include mq("md"){
    padding-left: rem(16);
  }
}

.column__right {
  padding-left: rem(20);
  width: 50%; /* カラムの幅を設定 */
  @include mq("md"){
    padding-left: rem(32);
  }
}