@use "global" as *;

.contact {
  position: relative;
  display: block;
  text-align: center;
}

.contact__items{
  aspect-ratio: 1080/415;
  // padding-top: calc(69/1080)*100%;
}

.contact__inner{
 max-width: rem(600);
}

.contact__img {
  position: absolute;
  top: rem(-25);
  right: rem(17);
  width: calc(109/375)*100%;

  @include mq(md) {
    width: calc(301/1440)*100%;
    max-width: rem(301);
    top: rem(-53);
    left: min(75.34%,77vw);
  }
}

.contact__button {
  margin-top:rem(40);
}