@use "global" as *;

.contact {
  position: relative;
  display: block;
  text-align: center;
}

.contact__inner{
 max-width: rem(600);
}

.contact__img {
  position: absolute;
  top: rem(54);
  right: rem(17);
  width: calc(109/375)*100%;

  @include mq(md) {
    width: calc(301/1440)*100%;
    top: rem(100);
    right: rem(50);
  }
}

.contact__button {
  padding-top: rem(40);
}