@use "global" as *;
.footer{
  background-color: $green-accent;
  color: $white;
  width: 100%;
  height: auto;
  padding-top: rem(48);
  padding-bottom: rem(40);
}

.footer__icons{
  display: flex;
  padding-top: rem(18);
}

.footer__icons li:not(:first-child){
  display: flex;
  align-items: center;
  padding-left: rem(15);
}

.footer__copyright{
  padding-top: rem(40);
}