@use "global" as *;
.footer{
  margin-top: rem(140);
  background-color: $green-accent;
  color: $white;
  width: 100%;
  height: auto;
  padding-top: rem(60);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(80);
  padding-bottom: rem(80);
    }
}

.footer__nav{
  @include mq(md) {
    padding-top: rem(24);
    }
}

.footer__copyright{
  padding-top: rem(20);
  text-align: center;
  @include mq(md) {
    padding-top: rem(80);
    }
}