@use "global" as *;

.footer-top {
  display: block;

  @include mq("md") {
    display: flex;
  }
}


.footer-top__icons {
  display: flex;
  padding-top: rem(8);
}

.footer-top__icons li:not(:first-child) {
  display: flex;
  align-items: center;
  padding-left: rem(15);
}
