@use "global" as *;

.footer {
  margin-top: rem(102);
  background-color: $green-accent;
  color: $white;
  width: 100%;
  height: auto;
  padding-top: rem(50);
  padding-bottom: rem(60);

  @include mq(md) {
    margin-top: rem(150);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__nav {
  @include mq(md) {
    margin-top: rem(24);
  }
}

.footer__copyright {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top:  rem(80);
  }
}