@use "global" as *;

.gotop {
  display: block;
  width: rem(46);
  height: rem(46);
  position: fixed;
  bottom: calc(20/1180)*100%;
  right: calc(20/1040)*100%;
  z-index: 10000;

  @include mq(md) {
    width: rem(80);
    height: rem(80);
    fill: brightness(0.7) invert(1);
  }
}