@use "global" as *;

.gotop {
  display: block;
  width: rem(46);
  height: rem(46);
  position: fixed;
  bottom: calc(20/375)*100%;
  right: calc(20/375)*100%;
  z-index: 10000;

  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}

.gotop.is-active{
  display: none;
}