@use "global" as *;

.icon a {
  display: inline-block;
}

.icon li {
  display: flex;
  align-items: center;
}

.icon__facebook {
  background-image: url(../images/common/FacebookLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(20);
  height: rem(20);
  @include mq("md") {
    width: rem(35);
    /* 画像の幅を調整 */
    height: rem(35);
    /* 画像の高さを調整 */
  }
}

.icon__instagram {
  width: rem(20);
  /* 画像の幅を調整 */
  height: rem(20);
  /* 画像の高さを調整 */
  background-image: url(../images/common/instagramLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}