@use "global" as *;

.information{
  display: block;
  text-align: center;
  background-color: $green2;
}

.information__inner{
  max-width: rem(600);
}

.information__items{
  margin-top: rem(35);
}

.information__button{
  margin-top: rem(40);
}