@use "global" as *;

.list{
  @include mq(md) {
    display: flex;
    }
}

.list__items:not(:first-child){
  @include mq(md) {
    margin-left: rem(140);
    }
}

.list__item {
  margin-top: rem(35);
  position: relative; /* 相対的な位置指定 */
  font-weight: $bold;
  @include mq(md) {
    margin-top: rem(0);
    }
}

.list__item:not(:first-child){
  @include mq(md) {
    margin-top: rem(30);
    }
}

.list__item::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -15%; /* 左端からはみ出させる */
  width: rem(18); /* 画像の幅を調整 */
  height: rem(18); /* 画像の高さを調整 */
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-size: cover;
}
