@use "global" as *;

.list__item {
  margin-top: rem(40);
  position: relative; /* 相対的な位置指定 */
  font-weight: $bold;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -15%; /* 左端からはみ出させる */
  width: rem(18); /* 画像の幅を調整 */
  height: rem(18); /* 画像の高さを調整 */
  background-image: url(../images/common/hitode.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sublist__item{
  padding-top: rem(24);
  font-weight: $regular;
}
