@use "global" as *;

.mv {
  position: relative;
}

.mv img{
  height: 100vh;
  object-fit: cover;
  @include mq("md"){
    // height: calc(768/1440)*100%;
  }
}

.mv__title {
  position: absolute;
  z-index: 1;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  @include mq("md"){
    top: 46%;
  }
}