@use "global" as *;

.pc-nav {
  display: none;
  color: $white;

  @include mq("md") {
    display: block;
  }
}

.pc-nav__items {
  display: flex;
  width: 100%;
  height: inherit;
  //padding-right: rem(40);
}

.pc-nav__item {
  display: block;
  width: fit-content;
  height: inherit;
  text-align: center;
}

.pc-nav__item:not(:first-child) {
 
  @include mq("md") {
    padding-left: rem(40);
  }
}

.pc-nav__item--main {
  font-size: rem(18);
}

.pc-nav__item--main::first-letter {
  line-height: 1;
}

.pc-nav__item--sub {
  font-size: rem(10);
  line-height: calc(15/10);
}