@use "global" as *;

.price {
  display: block;
  text-align: center;
  background-color: $green2;

  @include mq(md) {
    // position: relative;
  }
}

.price__items{
  margin-top: rem(30);
  @include mq("md"){
    margin-top: rem(40);
  }
}

.price__inner{
  max-width: rem(600);
}

.price__img {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-170);
    left: min(-6.94444%,2vw);
    width: 39.347222%;
    max-width: rem(437);
    height: auto;
  }
}

.price__button {
  padding-top: rem(40);

  @include mq(md) {
    padding-top: rem(80);
  }
}