@use "global" as *;

.price {
  display: block;
  text-align: center;
  background-color: $green2;

  @include mq(md) {
    position: relative;
  }
}

.price__inner{
  max-width: rem(600);
}

.price__img {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-120);
    left: min(calc-(100/1440)*100%,2vw);
    width: calc(437/1440)*100%;
    max-width: rem(437);
    height: auto;
  }
}

.price__items {
  margin-top: rem(33);
}

.price__button {
  padding-top: rem(40);

  @include mq(md) {
    padding-top: rem(80);
  }
}