@use "global" as *;

.price--campaign{
display: flex;
align-items: baseline;
justify-content: center;
margin-top: auto;
}

.price--campaign__big {
  padding-left: rem(19.5);
  font-size: rem(32);
  font-weight: $bold;
  color: $green-accent;
  font-family: $en2-font-family;

  @include mq("md"){
    font-size: rem(40);
    letter-spacing: -0.08rem;
    padding-left: rem(23);
  }
}

.price--campaign__small {
  text-decoration: line-through 3px $red;
}

.price--campaign__small span {
  display: block;
  align-items: center;
  font-family: $en2-font-family;
  font-size: rem(20);
  color: $green;
  margin-top: auto;
  @include mq("md"){
    font-size: rem(24);
    letter-spacing: -0.08;
  }
}
