@use "global" as *;

.section-header {
  display: inline-block;
}

.section-header__title {
  text-transform: lowercase;
  color: $green;
  font-family: $en-font-family;
  font-weight: $normal;
  line-height: calc(40/32);
  font-size: rem(32);
  @include mq("md"){
    font-size: rem(40);
  }
}

.section-header__title::first-letter {
  color: $green-accent;
  text-transform: capitalize;
}

.section-header__title--blog {
  text-transform: capitalize;
  color: $green;
  font-family: $en-font-family;
  font-weight: $normal;
  line-height: calc(40/32);
  font-size: rem(32);
  @include mq("md"){
    font-size: rem(40);
    color: $white;
}}

.section-header__title--blog::first-letter {
  color: $green-accent;
  text-transform: capitalize;
  @include mq("md"){
    color: $white;
}}

.section-header__title--contact::first-letter{
  color: $green-accent;
}

.section-header__title--contact{
  text-transform: capitalize;
  color: $green;
  font-family: $en-font-family;
  font-weight: $normal;
  line-height: 1;
  font-size: rem(80);
}

.section-header__subtitle {
  font-family: $jp2-font-family;
  color: $green-accent;
  line-height: calc(18/12);
  font-size: rem(12);
  text-align: center;
  padding-top: rem(3);
}

.section-header__subtitle--blog {
  font-family: $jp2-font-family;
  color: $green-accent;
  line-height: calc(18/12);
  font-size: rem(12);
  text-align: center;
  @include mq("md"){
    color: $white;
}
}

.section-header__text{
  font-family: $jp2-font-family;
  color: $green-accent;
  line-height: calc(18/14);
  font-size: rem(14);
  text-align: center;
}