@use "global" as *;

.slider2 .slick-slide {
  margin-left: rem(24);

  @include mq("md") {
    margin-left: rem(40);
    padding-bottom: rem(5);
  }
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: auto !important;
}