@use "global" as *;

.sp-nav{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: $green-accent;
  color: $white;
  width: 100%;
  height: 100vh;
  padding-top: rem(80);
  z-index: 999;
}