@use "global" as *;

.tab {
  display: block;

  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.tab__tag {
  display: block;
  width: fit-content;
  font-size: rem(12);
  color: $green-accent;
  border: 1px solid $green-accent;
  padding: rem(4) rem(12);
}

.tab__subtitle {
  font-size: rem(14);
  line-height: 1;
  padding-bottom: rem(4);
}