@use "global" as *;

.title {
  display: block;
  width: calc(248/375)*100%;

  @include mq("md") {
    width: calc(496/1440)*100%;
    text-align: center;
  }
}

.title__main {
  text-transform: uppercase;
  font-size: rem(40);
  font-weight: $regular;
  color: $white;
  letter-spacing: 0.54em;
  font-family: $en2-font-family;

  @include mq("md") {
    font-weight: $normal;
    font-size: rem(80);
  }
}

.title__sub {
  font-size: rem(20);
  font-weight: $regular;
  color: $white;
  font-family: $en-font-family;
  text-align: center;
}