@use "global" as *;

.voice {
  display: block;
  position: relative;
  // text-align: center;
}


.voice__inner {
  max-width: rem(600);
}

.voice__items-container {
  margin-top: rem(30);
  @include mq(md) {
    max-width: 100%;
    // position: relative;
    margin-top: rem(30);
    display: flex;
    flex-wrap: wrap;
  }
}

.voice__items {


  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.voice__img--left {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-80);
    left: calc(50% - min(47vw,rem(570)));
    width: 29.902778%;
    height: auto;
    max-width: rem(301);
  }
}

.voice__img--right {
  display: none;

  @include mq(md) {
    // display: flex;
    // margin-left: auto;
    // padding-top: rem(20);
    display: block;
    position: absolute;
    bottom: rem(-80);
    right: calc(50% - min(40vw,rem(540)));
    width: calc(71/1440)*100%;
    height: auto;

  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}