@use "global" as *;

.voice {
  display: block;
  text-align: center;

  @include mq(md) {
    position: relative;
  }
}


.voice__inner {
  max-width: rem(600);

  @include mq(md) {
    // position: relative;
  }
}

.voice__img--left {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: 0;
    left: min(calc(100/1440)*100%, 7vw);
    width: calc(301/1440)*100%;
    height: auto;
    max-width: rem(301);
  }
}

.voice__img--right {
  display: none;

  @include mq(md) {
    display: flex;
    margin-left: auto;
    padding-top: rem(20);
    width: calc(71/1130)*100%;
    height: auto;

  }
}

.voice__items {
  padding-top: rem(40);

  @include mq(md) {
    display: flex;
    padding-top: rem(35);
  }
}

.voice__button {
  padding-top: rem(40);

  @include mq("md") {
    margin-top: rem(-150);
  }
}